* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to right, #fdfbfb, #ebedee 70%);
}

.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
