* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to right, #fdfbfb, #ebedee 70%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    margin: 30px;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(6, 50px);
}

.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    cursor: pointer;
    font-size: 30px;
    background-color: rgb(36, 243, 147);
    animation: boxEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.5);
}

@keyframes boxEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(180deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

.gradient {
    margin: 30px;
    font-weight: 700;
    background: linear-gradient(to left, #ff5656 0%, #30389e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    letter-spacing: 4px;
}

.yellow {
    background-color: #fffb00;
}

.red {
    background-color: #ff0000;
}
